## Игнорируем виртуальное окружение
venv
#.env
#
## Игнорируем статические файлы, если собираются отдельно
#staticfiles
#media
#
## Игнорируем системные файлы
#__pycache__/
#*.pyc
#*.pyo
#*.pyd
#*.db
#
## Игнорируем IDE
#.idea
#.vscode
#*.swp
#
## Игнорируем Git
#.git
#.gitignore
#.gitattributes
#
## Логи
#*.log
